# config/wyoming-satellite.service
[Unit]
Description=Wyoming Satellite
Wants=network-online.target
After=network-online.target
Requires=wyoming-openwakeword.service 2mic_leds.service

[Service]
Type=simple
ExecStart=/opt/voice-assistant-pi/wyoming-satellite/script/run \
    --debug \
    --name 'voice satellite' \
    --uri 'tcp://0.0.0.0:10700' \
    --mic-command 'arecord -D plughw:CARD=seeed2micvoicec,DEV=0 -r 16000 -c 1 -f S16_LE -t raw' \
    --snd-command 'aplay -D plughw:CARD=seeed2micvoicec,DEV=0 -r 22050 -c 1 -f S16_LE -t raw' \
    --event-uri 'tcp://127.0.0.1:10500'
WorkingDirectory=/opt/voice-assistant-pi/wyoming-satellite
Restart=always
RestartSec=1

[Install]
WantedBy=default.target